main {
    margin: 0;
}

body {
    margin-bottom: 40px;
    padding: 10px;
}

header {
    background-color: pink; 
    color: rgb(216, 43, 101); 
    padding: 15px; 
    font-size: 16pt;
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
}

footer {
    background-color: pink; 
    color: rgb(216, 43, 101); 
    padding: 15px;
    font-size: 13pt; 
    font-style: italic; 
    text-align: right;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 98%;
}

#pusto {
    height: 70px;
}

#pusto2 {
    height: 20px;
}

#zagolovok {
    text-align: center;
}

#berries {
    height: 500px;
    width: 700px;
    position: relative;
    left: 400px;
}

#fruits {
    height: 500px;
    width: 700px;
    position: relative;
    left: 400px;
}

#furniture {
    height: 500px;
    width: 700px;
    position: relative;
    left: 400px;
}

#cars {
    height: 500px;
    width: 700px;
    position: relative;
    left: 400px;
}

#flowers {
    height: 700px;
    width: 700px;
    position: relative;
    left: 400px;
}

#like {
    background-color: lavenderblush;
    color: salmon;
    text-align: justify;
    font-weight: bolder;
    font-size: large;
}

#menu1 {
    background-color: lightcoral;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px lightcoral;
    width: 90px;
    height: 25px;
    font-weight: bold;
    position: relative;
    top: 5px;
}

a.menu2 {
    font-size: 15pt;
    color: brown;
    text-decoration: none;
    transition: 500ms 0.01s;
    padding: 30px 50px 30px 20px;
    font-weight: bold;
    cursor: pointer;
}

a.menu2:hover {
    font-size: 15pt;
    font-weight: bold;
    color: pink;
}

.errors {
    color: red;
    font-weight: bold;
}

#drinks {
    background-color: rgb(252, 239, 174);
    color: rgb(126, 16, 6);
}

#snow {
    color: blue;
}

#l5 {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 1512px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 79px;
}

#l51 {
    color: rgb(49, 113, 222);
    font-weight: bold;
    font-size: 18pt;
    position: absolute;
    left: 20px;
    top: 10px;
}

#l52 {
    color: rgb(49, 113, 222);
    font-size: 13pt;
    position: absolute;
    left: 600px;
    top: 15px;
}

#l53 {
    color: rgb(49, 113, 222);
    font-size: 13pt;
    position: absolute;
    left: 800px;
    top: 15px;
}

#l54 {
    color: rgb(49, 113, 222);
    font-size: 13pt;
    position: absolute;
    left: 1100px;
    top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(49, 113, 222);
}

#l55 {
    background-color: rgb(49, 113, 222);
    color: white;
    font-size: 13pt;
    position: absolute;
    left: 1200px;
    top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(49, 113, 222);
}

#l56 {
    color: rgb(49, 113, 222);
    font-size: 13pt;
    position: absolute;
    left: 1400px;
    top: 15px;
}

a.lb52 {
    text-decoration: none;
    color: rgb(49, 113, 222);
}

a.lb53 {
    text-decoration: none;
    color: rgb(49, 113, 222);
}

a.lb54 {
    text-decoration: none;
    color: rgb(49, 113, 222);
}

a.lb55 {
    text-decoration: none;
    color: white;
}
