main {
    margin: 0;
}

body {
    margin-bottom: 40px;
    padding: 10px;
}

header {
    background-color: pink; 
    color: rgb(216, 43, 101); 
    padding: 15px; 
    font-size: 16pt;
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
}

footer {
    background-color: pink; 
    color: rgb(216, 43, 101); 
    padding: 15px;
    font-size: 13pt; 
    font-style: italic; 
    text-align: right;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 98%;
}

#pusto {
    height: 50px;
}

#pusto2 {
    height: 20px;
}

#zagolovok {
    text-align: center;
}

#berries {
    height: 500px;
    width: 700px;
    position: relative;
    left: 400px;
}

#fruits {
    height: 500px;
    width: 700px;
    position: relative;
    left: 400px;
}

#furniture {
    height: 500px;
    width: 700px;
    position: relative;
    left: 400px;
}

#cars {
    height: 500px;
    width: 700px;
    position: relative;
    left: 400px;
}

#flowers {
    height: 700px;
    width: 700px;
    position: relative;
    left: 400px;
}

#like {
    background-color: lavenderblush;
    color: salmon;
    text-align: justify;
    font-weight: bolder;
    font-size: large;
}