{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <div id="l5">
        <div id="l51">База знаний</div>
        <div id="l52"><a href="/lab5/" class="lb52">Посмотреть заметки</a></div>
        <div id="l53"><a href="/lab5/new_article" class="lb53">Создать заметку</a></div>
        <div id="l54"><a href="/lab5/login" class="lb54">Логин</a></div>
        <div id="l55"><a href="/lab5/register" class="lb55">Регистрация</a></div>
        <div id="l56">{{ username }}</div>
    </div>
{% endblock %}  