{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block bodyid %}like{% endblock %}

{% block main %}
    <div id="pusto2"></div>
    <h1 id="zagolovok">Клубника</h1>
    <div>Факты о клубнике:</div>
    <ol>
        <li>Клубника - это гибрит земляники</li>
        <li>Клубника полезна для иммунитета и здоровья кожи</li>
        <li>Клубника - отличное средство от морщин</li>
        <li>Клубника происходит из северного полушария</li>
        <li>Клубника может быть разных цветов</li>
    </ol>
    <img src="{{ url_for('static', filename='berries.jpg') }}" id="berries">
    <h1 id="zagolovok">Манго</h1>
    <div>
        Манго является национальным фруктом Индии, Пакистана и Филиппин, в то 
        время как манговое дерево является национальным деревом Бангладеш.
    </div>
    <img src="{{ url_for('static', filename='fruits.jpg') }}" id="fruits">
    <h1 id="zagolovok">Кровать</h1>
    <div>Крова́ть — предмет мебели, предназначенный для сна в положении лёжа. 
        В жилых помещениях обычно располагается в спальне. Бывает прямоугольной или круглой формы.</div>
    <img src="{{ url_for('static', filename='furniture.jpg') }}" id="furniture">
    <h1 id="zagolovok">BMW</h1>
    <div>BMW i8 — это гибридный автомобиль. Он выполнен по модели невысокого спорткара. 
        Он оснащается тремя двигателями — двумя электрическими и одним бензиновым. Основным 
        является бензиновый. А электрические движки выполняют вспомогательные функции. Также 
        могут использоваться в качестве резервного источника энергии. Благодаря малому весу 
        и системе двигателей удалось серьезно сократить расходы топлива.</div>
    <img src="{{ url_for('static', filename='cars.jpg') }}" id="cars">
    <h1 id="zagolovok">Пионы</h1>
    <div>В русский язык слово «пион» пришло в конце XVIII – начале XIX в. Древние греки 
        пионами называли цветы, из которых, возможно, изготавливали лекарственные средства. 
        Название цветка – производное от имени греческого бога-целителя Пэона.</div>
    <img src="{{ url_for('static', filename='flowers.jpeg') }}" id="flowers">

{% endblock %}