{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block bodyid %}drinks{% endblock %}

{% block main %}
    <h1>Заказ напитка</h1>

    <form action="/lab3/pay">
        <h3>Напиток:</h3>
        <label>
            <input type="radio" value="cofee" name="drink" checked>Кофе: 120р.
        </label><br>
        <label>
            <input type="radio" value="black-tea" name="drink" checked>Чёрный чай: 80р.
        </label><br>
        <label>
            <input type="radio" value="green-tea" name="drink" checked>Зелёный чай: 70р.
        </label><br><br>

        <h3>Добавки:</h3>
        <label>
            <input type="checkbox" name="milk" checked>Молоко: 30р.
        </label><br>
        <label>
            <input type="checkbox" name="sugar" checked>Сахар: 10р.
        </label><br><br>

        <div>
            <button type="submit">Заказать</button>
        </div>
    </form>
{% endblock %}