{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block bodyid %}drinks{% endblock %}

{% block main %}
    <h1>Оплата</h1>

    <h3>
        Сумма к оплате: {{ price }}
    </h3><br>

    <form action="/lab3/succes">
        <div>Номер банковской карты:</div>
        <label>
            <input type="text" name="card" pattern="\d{16}">
        </label><br>

        <div>Имя держателя карты:</div>
        <label>
            <input type="text" name="name">
        </label><br>

        <div>Номер CVV:</div>
        <label>
            <input type="text" name="cvv" size="3" pattern="\d{3}">
        </label><br><br>

        <div>
            <button type="submit">Оплатить</button>
            <a href="/lab3/order">Отказаться</a>
        </div>
    </form>
{% endblock %}